html{
    margin-left: 40px;
}

#label_delivery{
    height: 25px;
    padding: 10px 0px 0px 0px;
}

ol{
    list-style-type: none;
}

#order{
    width: 40px;
}

#form_submit{
    margin-top: 20px;
}
